@{
    ViewData["Title"] = "Redis Demo";
}

<div class="text-center">
    <h1 class="display-4">Redis Demo</h1>
    <strong>Name: </strong><p>@Model.Name</p>
    <strong>Age: </strong><p>@Model.Age</p>
    <strong>Mobile: </strong><p>@Model.Mobile</p>
    <strong>Address: </strong><p>@Model.Address</p>

</div>
